.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/8fc6fab77ece4fe6f56500e76f47519c64ef19ebf26d72afc0a35e347952c2b7e37a26266db99f36fbb9521b804c9f0c3b833c5f92f91711fbc0f2_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 279px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 684px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 393px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bc728de269d6b0e0d2ccdcef08ad2dcff2d82952540109be97c3944fbbd86ffc216a621f7e8891f110e58015aa8622e9babe2e64df5cf9af1607b4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 279px auto 0;
}

.u-section-1-2 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 684px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 393px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/d1183e5604800ebf6ddcff6081db6c838afe0870a55d981750324928c154b1a12571f929ec5d581b79a4bf4d6a971c9b049ecbf513751865ace58c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 279px auto 0;
}

.u-section-1-3 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 684px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 393px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/dc2a2cc33ca5a72dd9a3293b29ef85c46ec69c55977e26408e7f3d714f3345908ccfaa65cdf871aaf58dbb64ec741cec670178861ee18be7709763_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 279px auto 0;
}

.u-section-1-4 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 684px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 524px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 393px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/681427.jpg");
  background-position: 50% 50%;
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-4-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 {
    min-height: 239px;
  }
}.u-block-320c-9 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 18px;
}

.u-block-320c-3 {
  position: absolute;
  left: 0;
}

.u-block-320c-8 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}.u-section-2 {
  background-image: url("images/21dd5f28abaee6f79afdf286d9277fd89855760b7298a254dacc886809b91f36318c5ec78ea76f286ce32acd5676f3075ebf1317e3b649a4b0e903_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 25px 65px auto;
}

.u-section-2 .u-gallery-1 {
  width: 689px;
  height: 615px;
  grid-gap: 10px 10px;
  margin: -103px auto 60px 0;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 258px;
    margin-left: 226px;
  }

  .u-section-2 .u-gallery-1 {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 549px;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: -6322px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 459px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    margin-top: -2670px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: -5863px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 539px;
}

.u-section-3 .u-text-1 {
  width: 740px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 20px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 29px 30px 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 29px 30px 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 29px 30px 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}.u-block-1a52-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-1a52-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -70px);
  width: 65px;
  height: 65px;
  top: 363px;
  right: auto;
}

.u-block-1a52-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-1a52-5 {
    left: calc(((100% - 940px) / 2)  + -58px);
  }
}

@media (max-width: 991px) {
  .u-block-1a52-5 {
    left: calc(((100% - 720px) / 2)  + -44px);
  }
}

@media (max-width: 767px) {
  .u-block-1a52-5 {
    left: calc(((100% - 540px) / 2)  + -33px);
  }
}

@media (max-width: 575px) {
  .u-block-1a52-5 {
    left: calc(((100% - 340px) / 2)  + -21px);
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 305px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 30px auto 30px 0;
}

.u-section-5 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 245px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}.u-section-6 {
  min-height: 642px;
}

.u-section-6 .u-map-1 {
  height: 500px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: 45px 576px 45px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-map-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-right: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/def5799adde6e7243dd7e62e4937efc001f850197c7539ab170f6a96510272b6da099b6382e789941351019da73ebc8468dc87b778b952d18e7319_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 509px;
}

.u-section-7 .u-text-1 {
  margin: 35px 467px 0 306px;
}

.u-section-7 .u-form-1 {
  height: 335px;
  margin: 0 90px 0 480px;
}

.u-section-7 .u-text-2 {
  margin: -245px 706px 60px -58px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 385px;
    margin-left: 206px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 0;
    margin-left: 370px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 295px;
    margin-left: 96px;
  }

  .u-section-7 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 221px;
    margin-left: 6px;
  }

  .u-section-7 .u-form-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 406px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 139px;
    margin-left: 0;
  }

  .u-section-7 .u-form-group-1 {
    width: 100%;
  }

  .u-section-7 .u-form-group-2 {
    width: 100%;
  }

  .u-section-7 .u-form-group-3 {
    width: 100%;
  }

  .u-section-7 .u-form-group-4 {
    width: 100%;
  }

  .u-section-7 .u-text-2 {
    margin-right: 306px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 262px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-8 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 300px;
  min-width: 124px;
  white-space: nowrap;
  margin: 16px auto 60px;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}